  #container {
    width: 700px;
    margin: 0 auto;
  }
  .chat-input {
    width: 300px;
    height: 35px;
    border: solid 1px rgb(221, 143, 143);
  }
  .chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
    background-color: yellowgreen;
  }
  .chat-window {
    height: 300px;
    width: 400px;
  }
  #chatSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
  }
  .chat-label{  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: teal;
  }
